<div class="list_item">
  <span class="item_title"><%= list.title %></span>
  <p>public: <%= list.public %></p>
  <div class="item_links">
    <%= link_to t(:edit), edit_list_path(list) %>
    <%= link_to t(:share), share_list_path(list) %>
    <%= link_to t(:show_bookmarks), list_path(list) %>
  </div>
</div>