<h1>Bookmarks#new</h1>
<p>Find me in app/views/bookmarks/new.html.erb</p>
<%= form_for(@bookmark) do |b| %>
  <%= b.label :title %>
  <%= b.text_field :title %><br>
  <%= b.label :url %>
  <%= b.url_field :url %><br>

  <% current_user.writable_lists.each do |l| %>
    <%= b.label l.title %>

  <%end%>
  
  <label for="oses">Operating Systems</label>
  <% current_user.writable_lists.each do |l| %>
			<%= check_box_tag(
                            "bookmark[lists][#{l.id}]", 
                            "1", 
                            @bookmark.lists.detect{|d| d == l}) %>
			<%= "#{l.title}"%><br />
		<% end %>
  
  
  <%= b.submit %>
<% end %>