<div class="tags">
  <%= render @tags %>
</div>
<div class="bookmarks">
  <%= render @bookmarks %>
</div>
<%= link_to "log out", destroy_user_session_path, :method=>:delete %><br>
<%= link_to "new Bookmark", new_bookmark_path %>
<%= link_to "new List", new_list_path %>
<%= link_to "show lists", lists_path %>
