<%= form_for(@share) do |f| %>
 
  <ul>
  <% @all_errors.each do |e| %>
    <li><%= e[0] %> <%= e[1] %></li>
  <% end %>
  </ul>
  <div><%= f.label :write%><%=f.check_box :write%></div>
  <div>
  <%= f.label :users%>
  <%= text_field_tag "user",@validUsers, :'data-autocomplete' => users_autocomplete_user_username_path, :'data-delimiter' => ',' %>
  </div>
  <div><%= hidden_field_tag  'list_id', @list.id %></div>  
  <div><%= f.submit%></div>
<%end%>