<!DOCTYPE html>
<html>
<head>
  <title>Bookmakr</title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "page" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<!--
	<%= javascript_include_tag :defaults, "rails.validations", "rails.validations.custom" %>
	-->

  <%= javascript_include_tag :"rails.validations" %>
  
  <%= javascript_include_tag 'jquery-1.6.2.min.js', 'jquery-ui-1.8.16.custom.min.js', 'autocomplete-rails.js', 'rails.js'  %>
  <%= stylesheet_link_tag 'jquery-ui-1.8.16.custom.css' %>
  
  <%= yield(:head) %>

</head>
<body>
  <div id="page">
    <div id="top">
      <div id="main_menu">
        <%= if !signed_in? 
              render "default_menu" 
            else
              render "user_menu"
            end
        %>
      </div>
    </div>
    <div id="content">
	  <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
	  
      <%= yield %>
    </div>
  </div>
</body>
</html>
